<!DOCTYPE html>
<html>
<body>
  <ul>
    {{#employees}}
    <li>{{firstname}} {{lastname}} ({{age}}) lives in {{city}} {{#lang}}and speaks {{lang}}{{/lang}}</li>
    {{/employees}}
  </ul>
</body>
</html>
